  <div class="jumbotron">
   <div class="container text-center">
   <br/>
<!--      <img src="app/img/gb.png" alt="English" class="margin" ng-click="changeLanguage('en')">
     <img src="app/img/serbia.png" alt="Serbian" class="margin" ng-click="changeLanguage('sr')"> -->
    <h1>Tester</h1>
    
  <!--   <div class="container col-md-3" ng-show="!authenticated">
       <a  href="/login/github" class="btn btn-sm btn-block btn-default">
          <span class="glyphicon glyphicon-briefcase"></span>
           <lable translate="GITHUB"></lable>
        </a>
       <br/>
        <a id="levi9Login" href="/login/levi9" class="btn btn-sm btn-block btn-default">
         <span class="glyphicon glyphicon-briefcase"></span> 
         <lable translate="O2P"></lable>
        </a>
    </div> -->
    
   </div>
  </div>